<!doctype html>
<html lang="en">

<head>
  <title>Create New Employee</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>

    <h1>Create New Employee</h1>

    <div class="container">
        <form th:action="@{/employees/addnew}" method="post" th:object="${employee}">

            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input type="text" class="form-control" name="firstname" th:field = "*{firstname}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('firstname')}" th:errors="*{firstname}">
            </div>

            <div class="mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastname" th:field = "*{lastname}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('lastname')}" th:errors="*{lastname}">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" th:field = "*{email}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('email')}" th:errors="*{email}">
            </div>

            <div class="mb-3">
                <label for="phoneNo" class="form-label">Phone Number</label>
                <input type="text" class="form-control" name="phoneNo" th:field = "*{phoneNo}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}">
            </div>

            <div class="mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="number" class="form-control" name="salary" th:field = "*{salary}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('salary')}" th:errors="*{salary}">
            </div>

            <div class="mb-3">
                <label for="birthday" class="form-label">Birthday</label>
                <input type="date" class="form-control" name="birthday" th:field = "*{birthday}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('birthday')}" th:errors="*{birthday}">
            </div>

            <div class="mb-3">
                <label for="postalCode" class="form-label">Postal Code</label>
                <input type="number" class="form-control" name="postalCode" th:field = "*{postalCode}"></input>
            </div>
            <!-- Display error -->
            <div class="alert alert-danger" data-th-if = "${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>